@page "/"
@page "/login"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

@if (isLoading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    return;
}

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-2">
            @if (success)
            {
                <div class="alert alert-success">You successfully registered. Now you can <a href="login">login</a>.</div>
            }
            else
            {
                if (errors)
                {
                    foreach (var error in errorList)
                    {
                        <div class="alert alert-danger">@error</div>
                    }
                }
                <EditForm Context="formContext" Model="LoginModel" OnValidSubmit="Submit">
                    <DataAnnotationsValidator />
                    <div class="w-50">
                        <div class="form-floating mb-2">
                            <InputText id="emailField" class="form-control" @bind-Value="LoginModel!.EmailAddress" />
                            <ValidationMessage For="()=>LoginModel!.EmailAddress" />
                            <label for="emailField">Email</label>
                        </div>
                        <div class="form-floating mb-2">
                            <InputText type="password" id="passwordField" class="form-control" @bind-Value="LoginModel!.Password" />
                            <ValidationMessage For="()=>LoginModel!.Password" />
                            <label for="passwordField">Password</label>
                        </div>
                    </div>
                    <button class="btn btn-primary mb-3" type="submit">Login</button>
                </EditForm>
                <button class="btn btn-primary mb-3" type="button" @onclick="LoginAsAGuest">Login as a Guest</button>
            }
            @* <div>
                Don't have an account? <a href="register">Register</a>
            </div> *@
        </div>
    </NotAuthorized>
</AuthorizeView>
