@page "/register"
@using Syncfusion.Blazor.Buttons

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-2">
            @if (success)
            {
                <div class="alert alert-success">You successfully registered. Now you can <a href="login">login</a>.</div>
            }
            else
            {
                if (errors)
                {
                    foreach (var error in errorList)
                    {
                        <div class="alert alert-danger">@error</div>
                    }
                }
                <EditForm Context="formContext" Model="RegisterModel" OnValidSubmit="Submit">
                    <DataAnnotationsValidator />
                    <div class="w-50">
                        <div class="form-floating mb-2">
                            <InputText id="emailInput" class="form-control" @bind-Value="RegisterModel!.EmailAddress" />
                            <ValidationMessage For="()=>RegisterModel!.EmailAddress" />
                            <label for="emailInput">Email</label>
                        </div>
                        <div class="form-floating mb-2">
                            <InputText id="passwordInput" type="password" class="form-control" @bind-Value="RegisterModel!.Password" />
                            <ValidationMessage For="()=>RegisterModel!.Password" />
                            <label for="passwordInput">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText id="confirmPasswordInput" type="password" class="form-control" @bind-Value="RegisterModel!.ConfirmPassword" />
                            <ValidationMessage For="()=>RegisterModel!.ConfirmPassword" />
                            <label for="confirmPasswordInput">Confirm Password</label>
                        </div>
                        <button class="btn btn-primary mb-2" type="submit">Register</button>
                    </div>
                </EditForm>
            }
            <div>
                Already have an account? <a href="login">Sign In</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
