@page "/tools"
@using PersonalFinanceApp.Web.Components.Tools

<h3>Tools</h3>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <a class="card btn btn-dark h-100" href="/tools/dealcomparer">
                <div class="card-title" style="font-size:1.3rem;font-weight:500">Deal Comparer</div>
                <div class="card-body align-content-end" style="font-size:3rem">
                    <i class="fa-solid fa-scale-balanced"></i>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="card btn btn-dark h-100" href="/tools/investmentcalculator">
                <div class="card-title" style="font-size:1.3rem;font-weight:500">Investment Calculator</div>
                <div class="card-body align-content-end" style="font-size:3rem">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
            </a>
        </div>
    </div>
</div>

@code {

}
