@inject NavigationManager NavigationManager
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Finance App</a>
        <div title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon" @onclick="ToggleNavMenu"></span>
        </div>
    </div>
</div>

<div class="@(collapseNavMenu ? "collapse" : null) nav-scrollable">
    <div class="d-flex flex-column h-100 align-content-between">
        <AuthorizeView>
            <Authorizing>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </Authorizing>
            <Authorized>
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <i class="fa-solid fa-chart-line mx-2"></i> Dashboard
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="transactions">
                            <i class="fa-solid fa-table-columns mx-2"></i> Transactions
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tools">
                            <i class="fa-solid fa-calculator mx-2"></i> Tools
                        </NavLink>
                    </div>
                </nav>

                <div class="flex-grow-1 text-center align-content-end">
                    <div class="nav-item dropdown px-3">
                        <a class="nav-link w-100 d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 100%;">
                            <i class="fa-regular fa-user mx-2"></i>
                            <span class="username" style="flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                @context.User.Identity?.Name
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="logout">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="tools">
                            <i class="fa-solid fa-calculator mx-2"></i> Tools
                        </NavLink>
                    </div>
                </nav>
                <div class="flex-grow-1 text-center align-content-end">
                    <div class="nav-item px-3">
                        <a class="nav-link" href="login">
                            <i class="fa-regular fa-user mx-2"></i> Sign In
                        </a>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;    

    protected override void OnAfterRender(bool firstRender)
    {        
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            NavigationManager.LocationChanged += OnLocationChanged;
        };
    }    

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        collapseNavMenu = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }
}
